---
import { siteMeta } from '../../data/site'
---

<footer class="site-foot">
  <div>
    <p class="site-foot__name">{siteMeta.name}</p>
    <p class="site-foot__domain">{siteMeta.domain}</p>
  </div>
  <div>
    <p class="site-foot__protocol">Protocol {siteMeta.protocol}</p>
    <p class="site-foot__attribution">Adapted from Antoine Wodniack's AW-2025-Portfolio (CC BY-NC 4.0) for non-commercial personal use.</p>
  </div>
</footer>
